@font-face {
  font-family: "AvatarNormal";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/avatar.woff") format("woff");
}

@font-face {
  font-family: "AvertaDemoPE";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/AvertaDemoPE.otf") format("opentype");
}
@font-face {
  font-family: "AvertaDemoPERegular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/AvertaDemoPERegular.otf") format("opentype");
}
@font-face {
  font-family: "AvertaDemoPEboldItalic";
  font-style: italic;
  font-weight: normal;
  src: url("../../assets/fonts/AvertaDemoPEboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSansBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansExtraBold";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSansExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansItalic";
  font-style: italic;
  font-weight: normal;
  src: url("../../assets/fonts/OpenSansItalic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansExtraBold";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSansExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/OpenSansLight.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/OpenSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansSemiBold";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSansSemiBold.ttf") format("truetype");
}
