@import "./partials/main.scss";

*,
*::before,
*::after {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "OpenSansRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

